
body {
  font-family: 'Oxygen', sans-serif;
  padding: 0 !important;
  margin: 0 !important;
}

img {
  margin: 0;
}

#content {
  margin: 4em;
  margin-top: 2em;
}

.highlight {
  text-align: center;
  font-weight: bold;
  color: #292930;
  padding:1em;
  border-top:0.2em solid #ff2252;
  border-bottom:0.2em solid #ff2252;
}